@model IEnumerable<Kontak>

@{
    ViewData["Title"] = "List";
}

<h1>List Kontak</h1>

<p>
    <a asp-action="UpSert">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NamaDepan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaBelakang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoTelp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <label>@item.NamaDepan</label>
                </td>
                <td>
                    <label>@item.NamaBelakang</label>
                </td>
                <td>
                    <label>@item.Email</label>
                </td>
                <td>
                    <label>@item.NoTelp</label>
                </td>
                <td>
                    <a asp-action="UpSert" asp-route-id="@item.Id">Edit</a>
                    &nbsp;
                    <a onclick="DetailKontakModal(@item.Id)" data-toggle="modal" data-target="theModal">Details</a>
                    &nbsp;
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade text-left" id="theModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Detail Kontak</h4>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span class="control-label">Nama Depan:&nbsp;</span>
                    <span value="Hello" name="namaDepan" class="control-label"></span>
                </div>
                <div class="form-group">
                    <span class="control-label">Nama Belakang:&nbsp;</span>
                    <label value="Hello" name="namaBelakang" class="control-label"></label>
                </div>
                <div class="form-group">
                    <span class="control-label">Email:&nbsp;</span>
                    <span name="email" class="control-label"></span>
                </div>
                <div class="form-group">
                    <span class="control-label">No Telepon:&nbsp;</span>
                    <span name="noTelepon" class="control-label"></span>
                </div>
                <div class="form-group">
                    <span class="control-label">Tanggal Lahir:&nbsp;</span>
                    <span name="tglLahir" class="control-label">ddfs</span>
                </div>
                <button class="btn btn-secondary float-right" data-dismiss="modal">OK</button>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        function DetailKontakModal(id) {
            $.get(`/Api/Kontak/Detail?id=${id}`, (data) => {
                $('#theModal [name="namaDepan"]').innerHTML = data.namaDepan;
                $('#theModal [name="namaBelakang"]').val(data.namaBelakang);
                $('#theModal [name="email"]').val(data.email);
                $('#theModal [name="noTelepon"]').val(data.noTelp);
                $('#theModal [name="tglLahir"]').val(data.tanggalLahir);
                $('#theModal').modal('show');
            });
        }
    </script>
}
